 body {
    background-color: #8C88FF; /* Color de fondo similar al de la imagen */
  }
  .login-container {
    min-height: 100vh; /* Ocupa el alto completo de la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login-form {
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  .login-form .form-control {
    border-radius: 20px;
  }
  .login-form .btn {
    border-radius: 20px;
    background-color: #6A67CE;
    border: none;
  }