{% macro iot_control_panel(current_temp, target_temp, is_caldera, is_emisor, is_receptor) %}
<div class="iot-control-panel container p-3">
    <div class="text-center mb-4">
        <p class="text-muted">{{ current_temp }} °C</p>
    </div>
    </div>
    <div class="d-flex flex-column align-items-center justify-content-center mb-4">
          UP
        <h2 class="h1 mb-2">{{ target_temp }}°C</h2>
        DOWN
    </div>
    <div class="btn-group d-flex">
        <button class="btn btn-outline-primary flex-fill {{ 'active' if is_emisor else '' }}">Emisor</button>
        <button class="btn btn-outline-primary flex-fill {{ 'active' if is_caldera else '' }}">Caldera</button>
        <button class="btn btn-outline-primary flex-fill {{ 'active' if is_receptor else '' }}">Receptor</button>
    </div>
{% endmacro %}
